*{
    margin: 0;
    padding: 0;
}

body {
    --bs-body-bg: #1C1C1C;
}
#openBTN {
    --bs-btn-color: #9B0C0C;
    --bs-btn-border-color: #9B0C0C;
    --bs-btn-hover-color: #f0f0f0;
    --bs-btn-hover-bg: #9B0C0C;
    --bs-btn-hover-border-color: #9B0C0C;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #f0f0f0;
    --bs-btn-active-bg: #9B0C0C;
    --bs-btn-active-border-color: #9B0C0C;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #9B0C0C;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #9B0C0C;
    --bs-gradient: none;
}
